.chart{
    flex: 5;
    box-shadow: 10px 6px 5px 0px rgba(176,170,170,0.75);
    -webkit-box-shadow: 10px 6px 5px 0px rgba(176,170,170,0.75);
    -moz-box-shadow: 10px 6px 5px 0px rgba(176,170,170,0.75);
}